
.demandSectionMain {
    padding: 20px;

    .demandItemMain {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        margin: 10px;
    
        .demandItem {
            span {
                margin: 0 10px;
            }
        }
    }

    .totalSection {
        font-weight: 500;
        font-size: 24px;
        margin: 30px 0;
    }
}

